@use "mixins";
@use "timeline";
@import "./_tooltips.scss";

.timeline-element-content{
  background: #00000017;
}

.splash {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  /* TODO container styles */
  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 100px;
  }

  h1 {
    font-family: "Nunito", "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 4rem;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .socials {
    margin-top: 32px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    svg {
      width: 24px;
      fill: #fff;
    }
  }
}

.section {
  background: #fff;
  color: #000c;
  padding-top: 24px;
  padding-bottom: 24px;
  @include mixins.box-shadow;

  h3 {
    margin: 20px 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.334;
    letter-spacing: 0em;
  }
}

.section-title {
  padding: 75px 0;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;

  h2 {
    margin: 0;

    font-size: 2.125rem;
    font-weight: 400;
    line-height: 1.235;
    letter-spacing: 0.00735em;
  }
}

#about-me {
  font-weight: 300;
  padding: 1rem 0;
  font-size: 1.5rem;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 4px;
  @include mixins.box-shadow;

  .card-content {
    padding: 16px;

    flex-grow: 1;
  }

  .card-actions {
    display: flex;
    padding: 8px;
    align-items: center;
  }
}

.top-projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;

  .card {
    width: clamp(50px, 100%, 350px);

    img {
      width: 80px;
      height: 80px;
      margin: 0 auto 10px auto;
      display: block;
    }

    h4 {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.6;
      letter-spacing: 0.0075em;
      margin: 0;
    }
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the items along the main axis */
}

.skill {
  width: 33.33%; /* Each skill occupies one-third of the container */
  box-sizing: border-box; /* Include padding and border in the width */
  padding: 20px 10px 10px 10px; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

.skill .skill-icon {
  display: flex;
  align-items: center; /* Center the icon */
  margin: auto; /* Center the icon horizontally */
}

.skill .skill-name {
  text-align: center; /* Center the skill name */
  font-weight: bold; /* Make the skill name bold */
  font-size: 18px; /* Adjust font size as needed */
  margin-top: 10px; /* Add some spacing between the icon and the skill name */
  color: #333; /* Set the text color */
  // text-transform: uppercase; /* Convert the text to uppercase */
  letter-spacing: 1px; /* Add letter spacing for better readability */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
}


