{%- macro navbar_script() %}
<script>
  document.addEventListener("DOMContentLoaded", () => {
    // Sticky navbar
    const navbar = document.querySelector("nav");
    const observer = new IntersectionObserver(entries => {
      if (entries[0].boundingClientRect.y < 0) {
        navbar.classList.add("navbar--sticky");
      } else {
        navbar.classList.remove("navbar--sticky");
      }
    });
    observer.observe(document.querySelector("#navbar-trigger"));

    // Mobile drawer
    const drawer = document.getElementById("navbar-drawer");
    const drawerOpenBtn = document.getElementById("drawer-open");
    document.getElementById("drawer-open").addEventListener("click", () => {
      drawer.showModal();
    });
    document.querySelectorAll("#drawer-close, #navbar-drawer a").forEach(element => {
      element.addEventListener("click", () => {
        drawer.close();
      });
    });

  });
</script>
{%- endmacro %}

{%- macro navbar_dom() %}
<nav>
  <div>
    <button id="drawer-open" class="icon-button" aria-label="Open Navigation Drawer">
      {{ load_data(path="/assets/icons/hamburger-menu.svg") | safe }}
    </button>
    <a href="{{ get_url(path='/') }}">
    {% set profile_picture = resize_image(path=config.extra.logo, width=40, height=40, op="fit", format="webp") %}
    <img class="navbar-logo" src="{{ profile_picture.url }}" alt="Logo of {{ config.title }}" />
    </a>

  </div>
  <div>
    <div class="navbar-drawer-links">
      {%- for link in config.extra.links %}
      {%- if link.path is matching("^http[s]?://") %}
      {%- set href = link.path %}
      {%- else %}
      {%- set href = get_url(path=link.path) %}
      {%- endif %}
      <a class="nav-link" href="{{ href }}">
        {{ link.name }}
      </a>
      {%- endfor %}
    </div>
  </div>
</nav>
<dialog id="navbar-drawer">
  <button id="drawer-close" class="icon-button" aria-label="Close Navigation Drawer">
    {{ load_data(path="/assets/icons/close.svg") | safe }}
  </button>
  <div class="navbar-drawer-links">
    {%- for link in config.extra.links %}
    {%- if link.path is matching("^http[s]?://") %}
    {%- set href = link.path %}
    {%- else %}
    {%- set href = get_url(path=link.path) %}
    {%- endif %}
    <a class="nav-link" href="{{ href }}">
      {{ link.name }}
    </a>
    {%- endfor %}
  </div>
</dialog>
<div id="navbar-trigger" style="position: absolute; width: 1px; height: 1px; top: 100px; left: 0;"></div>
{%- endmacro %}

