{%- macro particles_script() %}
<script>
  function setupParticlesBackground() {
    tsParticles.load("tsparticles", {
      particles: {
        color: { value: ["#38bdf8", "#818cf8", "#a78bfa"] },
        links: {
          enable: true,
          distance: 120,
          opacity: 0.2,
          color: "#38bdf8",
          width: 1,
        },
        number: {
          density: {
            enable: true,
            value_area: 700,
          },
          value: 100,
        },
        size: {
          value: { min: 1, max: 3 },
        },
        move: {
          direction: 'none',
          enable: true,
          outMode: 'bounce',
          random: true,
          speed: 1.2,
          straight: false,
        },
        opacity: {
          value: { min: 0.1, max: 0.6 },
        },
      },
      retina_detect: true,
    });
  }
</script>

<script
  src="https://cdn.jsdelivr.net/npm/tsparticles-preset-links@2.12.0/tsparticles.preset.links.bundle.min.js"
  integrity="sha256-Kq9IblhtnUOu75DRD4BIgJ4p4/7JUMMy6eXI/YcTo0c="
  crossorigin="anonymous"
  async
  defer
  onload="setupParticlesBackground()"
></script>
{%- endmacro %}

{%- macro particles_dom( style ) %}
<div id="tsparticles" style="{{ style | default(value='') }}"></div>
{%- endmacro %} 
