{%- extends "base.html" %}
{%- import 'macros/particles.html' as macros_particles %}

{%- block head %}
{{ super() }}
{{- macros_seo::seo(config=config, title="About") }}
{%- endblock head %}

{%- block stylesheets %}
{{ super() }}
<link rel="stylesheet" href="{{ get_url(path='/about.css', trailing_slash=false, cachebust=true) }}" />
{%- endblock stylesheets %}

{%- block content %}

{# splash #}

{{- macros_particles::particles_dom(style="position: fixed; inset: 0; z-index: -10;") }}
<div class="splash">
  {% set profile_picture = resize_image(path=page.extra.profile_picture, width=250, height=250, op="fill", format="webp") %}
  <img class="profile-picture" src="{{ profile_picture.url }}" alt="Profile image of {{ page.extra.name }}" />
  <h1>{{ page.extra.name }}</h1>
  <h2>{{ page.extra.subtitle }}</h2>
  <img style="position: absolute; bottom: 0; width: 80px; height: 80px;" class="below-arrow" src="/assets/images/arrow.gif" alt="Below arrow of {{ page.extra.name }}" />
</div>

{# about me #}

<div class="section" id="about-me">
  <div class="container">
    {{ page.extra.about_me | striptags | markdown(inline=false) | safe }}
  </div>
</div>


{# skills #}
<section id="skills">

<div class="section-title" id="skills">
  <h2>Skills</h2>
</div>

<div class="section">
  <div class="container">
    {% for sectionTitle in ['Programming Languages', 'Backend Frameworks', 'Frontend Frameworks', 'Databases', 'Cloud Technologies', 'CI/CD', 'Testing Tools', 'Additional Skills'] %}
      <h3>{{ sectionTitle }}</h3>
      <div class="skills">
        {% for skill in page.extra.skills %}
          {% if skill.label == sectionTitle%}
            <div class="skill">
              {% set logo = resize_image(path=skill.icon, width=100, height=100, op="fit", format="webp") %}
              <img class="skill-icon" src="{{ logo.url }}" alt="{{ skill.name }}">
              <div class="skill-name">{{ skill.name }}</div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>

</section>

{# contact #}

{# portfolio #}

<div class="section-title" id="portfolio">
  <h2>Portfolio</h2>
</div>

<div class="section">
  <div class="container">
    <section id="projects">
    <h3>My top projects</h3>

    <div class="top-projects">
      {% for top_project in page.extra.top_projects %}
        <div class="card" style="background-color: {{ top_project.background }}; color: {{ top_project.color }};">
          <div class="card-content">
            {%- if top_project.icon is matching("\.svg$") %}
            <img src="{{ top_project.icon }}" alt="{{ top_project.name }}"/>
            {%- else %}
            {% set project_img = resize_image(path=top_project.icon, width=110, height=110, op="fill", format="webp") %}
            <img src="{{ project_img.url }}" alt="{{ top_project.name }}"/>
            {%- endif %}
            <h4>{{ top_project.name }}</h4>
            <div>
              <p>{{ top_project.description | striptags | markdown(inline=false) | safe }}</p>
            </div>
          </div>
          <div class="card-actions">
            <a href="{{ top_project.link }}" 
            {%- if not top_project.disabled %}
            target="_blank" 
            {%- endif %}
            rel="noopener" class="button">
              {{ top_project.calltoaction }}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    </section>
    <section id="experience">
    <h3>Work Experience</h3>

    <div class="timeline">
      {% for entry in page.extra.timeline | reverse %}
        <div class="timeline-element">
          <span class="timeline-element-icon" style="background-color: {{ entry.background }}; color: {{ entry.foreground }};">
            {{ load_data(path=entry.icon) | safe }}
          </span>
          <div class="timeline-element-content">
            <h4>{{ entry.title }}</h4>
            {% if entry.subtitle %}
            <h5><a href={{entry.orgurl}}>{{ entry.subtitle }}</a></h5>
            {% endif %}
            <div>
              {{ entry.content | striptags | markdown(inline=false) | safe }}
            </div>
            <span class="timeline-element-date">{{ entry.date }}</span>
          </div>
        </div>
      {% endfor %}
    </div>
    </section>
  </div>
</div>


{% endblock content %}

{% block scripts %}
{{ super() }}
{{- macros_particles::particles_script() }}
{% endblock scripts %}
